[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = msm8998
[access "refs/*"]
	owner = group user/Aaditya zeo (aadityazeo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aaditya zeo (aadityazeo)
	label-Verified = -1..+1 group user/Aaditya zeo (aadityazeo)
	push = group user/Aaditya zeo (aadityazeo)
	read = group user/Aaditya zeo (aadityazeo)
	rebase = group user/Aaditya zeo (aadityazeo)
	removeReviewer = group user/Aaditya zeo (aadityazeo)
	submit = group user/Aaditya zeo (aadityazeo)
[access "refs/heads/*"]
	create = group user/Aaditya zeo (aadityazeo)
	push = +force group user/Aaditya zeo (aadityazeo)
	pushMerge = group user/Aaditya zeo (aadityazeo)
	read = group user/Aaditya zeo (aadityazeo)
[access "refs/tags/*"]
	push = group user/Aaditya zeo (aadityazeo)
	push = +force group user/Aaditya zeo (aadityazeo)
